<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="TestConnectionString1" connectionString="Data Source=DESKTOP-U75NJJ0\SQLEXPRESS;Initial Catalog=Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudentConnectionString1" connectionString="Data Source=DESKTOP-0OD7MIM\SQLEXPRESS;Initial Catalog=Student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
